{% extends 'base.html'%}

{% block css%}
  <link rel="stylesheet" href="/static/css/subscription/css_subscription_detail.css">
{% endblock%}


{% block main %}

  <main>
    <div class="subscription_nav">
      <div class="nav_container">
        <h2 class="nav_left">스토어</h2>
        <div class="nav_category">
          <a href=>생리대</a>
          <a href=>굿즈</a>
          <a href="" style="border-bottom:1px solid #000;">정기배송</a>
        </div>
      </div>
    </div>

    <!--subscriptions_detail-->
    <div class="subscription_container">
      <div class="subscription_wrap">
        <div class="photo_container">
          <div>
            <img src="/static/images/{{ type.img }}" width=570px;>
          </div>
        </div>
        <div class="spec_container">
          <h2>{{ type.type_str }}. {{ type.type }} 정기배송</h2>
          <p class="description">{{ type.component }}</p>
          <table class="spec">
            <tbody>
              <tr>
                  <td>월경주기<span class="required">*</span></td>

                  <td>
                      <form class="period">
                          <input class="input_period" type="number" placeholder="숫자 입력" name="period_cycle" onkeypress="return numbersOnly(this.value)" value="28" min="10" max="365" required>
                          일
                          <span style="color: #868e96">(수정 가능)</span>
                      </form>
                  </td>
              </tr>
              <tr><td>배송주기<span class="required">*</span></td>
                  <td>
                      <form>
                          <select id="selectBox" name="selectBox" class="selectbtn">
                              <option value="0" selected disabled>선택해주세요</option>
                              <option value="1">1주기마다 (28일마다)</option>
                              <option value="2">2주기마다 (56일마다)</option>
                              <option value="3">3주기마다 (84일마다)</option>
                          </select>
                      </form>

                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

                      <script>
                          $(function() {
                              $('.error_message_more').hide();
                              $('#selectBox').change(function() {
                                  var state = $('#selectBox').val();
                                  if(state === '2' || state === '3') {
                                      $('.error_message_more').show();
                                  } else {
                                      $('.error_message_more').hide();
                                  }
                              });
                          });
                      </script>

                      <div class="error_message">배송주기를 선택해주세요.</div>

                      <div class="error_message_more" style="display: block;">수량이 충분한지 확인하셨나요? 더 필요하시면 아래에서 사이즈를 추가하세요.</div>
                  </td></tr>
              <tr><td>첫 발송일<span class="required">*</span></td>
                  <td>
                      <div class="date_container">
                          <div class="date_button">2018년 08월 07일</div>
                      </div>

                  </td></tr>
              <tr>
                  <td>옵션 추가</td>
                  <td><hr></td>
              </tr>
              <tr><td style="font-weight: normal;">생리대</td>
                  <td><select name="pad" class="selectbtn">
                      <option selected disabled>선택해주세요</option>
                      <option value="중형 1팩 (+1,600원)">중형 1팩(+1,600원)</option>
                      <option value="대형 1팩 (+1,800원)">대형 1팩(+1,800원)</option>
                      <option value="롱라이너 1팩 (+2,700원)">롱라이너 1팩(+2,700원)</option>
                      <option value="오버나이트 1팩 (+1,300원)">오버나이트 1팩(+1,300원)</option>
                  </select></td></tr>
              <tr>
                  <td class="pregnancy_test_kit">
                      <div class="label_with_question">임신테스터<img src="/static/images/ic_question.png" class="ic_question" onclick="myFunction()"></div>
                  </td>
                  <td>
                      <select name="pad" class="selectbtn">
                      <option value="">선택해주세요</option>
                      <option value="센스틱얼리 (+3,500원)">센스틱얼리 (+3,500원)</option>
                      </select>
                  </td>
              </tr>
            </tbody>
          </table>

          <table class="order">
              <tbody>
              <tr id="main_type">
                  <td class="text"><div class="circle_orange"></div>{{ type.type_str }}. {{ type.type }}</td>
                  <td class="ord"></td>
                  <td class="price">{{ type.price }}원</td>
              </tr>
              </tbody>
          </table>

          <table class="fee">
              <tbody>
              <tr>
                  <td>배송비</td>
                  <td>무료</td>
              </tr>
              <tr>
                  <td class="text_fee">합계</td>
                  <td class="price_fee">{{ type.price }}원</td>
              </tr>
              </tbody>
          </table>

          <table class="quantity">
            <tbody>
            <tr>
                <td class="text">총 수량</td>
                <td class="result">{{ type.type }}({{ type.component }})</td>
            </tr>
            </tbody>
          </table>
          
          <div class="button_order">
            <div>주문하기</div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

            <script>
                $(function() {
                    $('.error_message').hide();
                    var state = $('#selectBox').val();
                    $('#button_order').click(function () {
                        if (state === '1') {
                            $('.error_message').show();
                        } else {
                            $('.error_message').hide();
                        }
                    })
                });
            </script>

              {#                      배송주기를 건드리지 않고 주문하기를 눌렀을 때 에러메시지가 뜨게 하는 중#}

          </div>

      </div>
    </div>
    </div>
  </main>
{% endblock %}