.store_nav{
  padding: 0 20px;
}
.nav_container{
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 50px;
}
.nav_category{
  flex: 1;
  display: flex;
  justify-content: center;
}
.nav_category a{
  padding: 0 0 3 0;
  margin: 10px 20px;
}

.wrap_container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}
.item_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  padding-bottom: 60px;
  text-align: center;
}
.item_container .item{
  height: 250px;
  width: 270px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin: 0 20px;
  padding: 30px 5px;
  max-width: calc(100%/3 - 50px);
}