{% extends 'base.html' %}

{% block css%}
  <link rel="stylesheet" href="/static/css/login/css_login_main.css">
  <link rel="stylesheet" href="/static/css/login/default.css">
{% endblock%}

{% block main %}
    <h2 class="title_center">로그인</h2>
    <div class="login_container">
<div class="login">
	<form action="" method="post">
		{% csrf_token %}
		<input type="hidden" name="post_type" value="login">
        <div>
		{% for field in login_form %}
				{{ field }}
				{% if field.errors %}
					{% for error in field.errors %}
					<span class="help-block">{{ error }}</span>
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}

		{% if login_form.non_field_errors %}
			{% for error in login_form.non_field_errors %}
			<p class="error_message"><b>{{ error }}</b></p>
			{% endfor %}
		{% endif %}
        <button type="submit" class="submit">로그인</button>
        <div class="find_account">
          <a href="/find_email/" class="link_yellow_underline">이메일 찾기</a>
          <span style="color: #ccc">/</span>
          <a href="/find_password/" class="link_yellow_underline">비밀번호 찾기</a>
        </div>


        <div class="signup_container">
          <h4 class="signup_title"><span class="bg_white">처음 오셨나요?</span></h4>
          <a href="/accounts/signup/" id="button_order_signup" class="button_signup">회원가입</a>
          <div class="just1minute">(1분 소요)</div>
        </div>
    </form>
  </div>
{% endblock %}
