.subscription_nav{
  padding: 0 20px;
}
.nav_container{
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
  border-bottom: 1px solid #dee2e6;
}
.nav_category{
  flex: 1;
  display: flex;
  justify-content: center;
}
.nav_category a {
  padding: 0 0 3 0;
  margin: 10px 20px;
}

.wrap_container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}
.item_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 60px;
  text-align: center;
  justify-content: center;
}
.item{
  height: 419.391px;
  width: 330px;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 20px 80px 20px;
  padding: 0;
  max-width: 330px;
  position: relative;
  flex-basis: auto;
  text-align: center;
  cursor: pointer;
  background: #ffffff;
}

.banner_subscription {
  width: 1200px;
  height: 495.219px;
  padding: 0px 20px 20px 20px;
  margin: 0 auto;
}

.htw_container{
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  width: 1199px;
  height: 297px;
  justify-content: center;
}

.small_title{
  font-size: 0.875rem;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 10px;
  padding: 50px 0;
}

.htw_step{
  text-align: center;
  flex: 1;
  width: 300px;
  height: 297px;
}

.htw_step img{
  width: 220px;
  height: 220px;
}

.htw_step p{
  display: block;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.h1{
  display: inline;
  font-weight: bold;
}

.start_title{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 120px;
}

.to_how{
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-bottom: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.product_thumbnail{
  display: flex;
  padding-right: 31px;
  padding-left: 31px;
  border-bottom: 1px solid #d2d0ce;
  margin-right: 10px;
  margin-left: 10px;
}
.label_{
  display: block;
  font-size: 1.25rem;
  padding-top: 20px;
  padding-bottom: 7px;
  width: 330px;
  height: 30px;
  margin: 0;
}

.spec{
  display: block;
  padding-bottom: 20px;
  margin: 0 10px;
  border-bottom: 1px solid #d2d0ce;
  width: 310px;
  height: 21px;
}

.description{
  width: 306px;
  padding: 12px;
  color: #868396;
  height: 40px;
  display: table-cell;
  align-items: center;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

.price_before{
  position: absolute;
  bottom: 25px;
  font-size: 0.75rem;
  color: #fff;
  right: 90px;
  opacity: 0.6;
  text-decoration: line-through;
  margin-bottom: 5px;
  margin-top:0;
}

.price_{
  background: #fdb64a;
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #fff;
  padding: 15px 5px 15px 5px;
  width: 320px;
  height: 27px;
  vertical-align: middle;
  margin: 0;
}
.wrapper {
  display: table;
}