.subscription_nav{
  padding: 0 20px;
}
.nav_container{
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
  border-bottom: 1px solid #dee2e6;
}
.nav_category{
  flex: 1;
  display: flex;
  justify-content: center;
}
.nav_category a{
  padding: 0 0 3 0;
  margin: 10px 20px;
}

.subscription_container{
  padding: 9px 20px 30px 20px;
}
.subscription_wrap{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
}
.photo_container{
  display: flex;
  flex: 3;
  padding-right: 50px;
}
.spec_container{
  display: flex;
  flex-direction: column;
  flex: 2;
  font-family: "NanumSquareR", Helvetica, sans-serif;
}
.spec_container h2{
  display: block;
  margin: 19.920px 0 19.920px 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.spec_container .description{
  text-align: justify;
  border-bottom: 2px solid #868e96;
  padding-bottom: 20px;
  margin-top: 14px;
  margin-bottom: 20px;
}
.required {
  color: #f59f00;
  padding-left: 3px;
}
.table{
  display: table;
  border-collapse: separate;
  border-color: grey;
}
.spec_container .spec{
  border-spacing: 0;
  width: 100%;
  border-bottom: 1px solid #868e96;
  margin-bottom: 20px;
}

table.spec td {
  padding: 4px 0;
  vertical-align: middle;
}

table.spec td:first-child {
  width: 92px;
  height: 31px;
  padding-right: 5px;
  font-weight: bold;
  vertical-align: top;
  padding-top: 16px;
}

.period {
  display: block;
}

.input_period {
  width: 90px;
  height: 33px;
  border: 1px solid #adb5bd;
  border-radius: 2px;
  font-size: 0.938rem;
  padding: 0 10px;
  margin: 4px 0;
  background: #fff;
  cursor: pointer;
  text-align: right;
  display: inline-block;
}

.period input:invalid {
  display: inline-block;
  content: '월경주기를 10~365일 범위로 입력해주세요.';
  margin-top: 2px;
  margin-bottom: 2px;
  color: red;
}
.error_message {
  margin-top: 2px;
  margin-bottom: 2px;
  color: red;
  display: block;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select.selectbtn {
  -webkit-appearance: none;
  width: 100%;
  height: 35px;
  border: 1px solid #adb5bd;
  border-radius: 2px;
  font-size: 0.938rem;
  padding: 0 10px;
  margin: 4px 0;
  background: #fff url(../../images/ic_select_dropdown.png) right 5px center no-repeat;
  background-size: 20px;
  cursor: pointer;
}
.error_message_more {
  color: #fff;
  background: #7cb31f;
  padding: 10px;
}

.date_container {
  border: 1px solid #adb5bd;
  border-radius: 2px;
  background: #fff;
  margin: 4px 0;
}
.date_button {
  -webkit-appearance: none;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 0.938rem;
  padding: 0 10px;
  background: url(../../images/ic_calendar.png) left 10px center no-repeat, url(../../images/ic_select_dropdown.png) right 5px center no-repeat;
  background-size: 20px;
  cursor: pointer;
}
table.spec {
  border-spacing: 0;
}
hr {
  display: block;
  border: 0;
  height: 1px;
  background: #adb5bd;
  margin: 20px 0;
}
table.spec tr:last-child td {
  padding-bottom: 24px;
}
table.spec td.pregnancy_test_kit {
  padding-top: 12px;
}
.label_with_question {
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 92px;
  height: 35px;
  font-size: 14px;
}
.ic_question {
  width: 20px;
  height: 20px;
  padding: 4px;
  margin-bottom: 3px;
  vertical-align: middle;
  cursor: pointer;
}

img {
  border: 0;
}

.popup {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

table.order{
  border-spacing: 0;
  width: 100%;
  margin-bottom: 20px;
}
table.order td {
  padding: 4px 0;
}
table.order td.text .circle_orange {
  width: 10px;
  height: 10px;
  background: #f59f00;
  border-radius: 5px;
  margin-right: 8px;
  display: inline-block;
}

table.order td.text {
  width: 100px;
}

table.order td.ord {
  text-align: right;
  height: 30px;
  width: 154px;
}
table.order td.price {
  text-align: right;
  width: 78px;
}

table.fee{
  border-spacing: 0;
  width: 100%;
  border-top: 1px solid #868e96;
  border-bottom: 1px solid #868e96;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 64px;
  line-height: 1.5;
}
table.fee .text_fee, table.fee .price_fee {
  font-size: 1.125rem;
  font-weight: bold;
}
table.fee td {
  padding: 4px 0;
}
table.fee td:nth-child(2) {
  text-align: right;
}
tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.quantity{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.quantity .text{
  font-weight: bold;
  width: 80px;
}
.quantity .result {
  margin-left: 10px;
  display: inline;
}
.button_order{
  height: inherit !important;
  border: 0 !important;
  background: #fdb64a;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 16px 20px;
  font-size: 1.25rem !important;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}