{% extends 'base.html'%}

{% block css%}
  <link rel="stylesheet" href="/static/css/login/default.css">
  <link rel="stylesheet" href="/static/css/cart/cart_temp.css">
{% endblock%}


{% block main %}

<div id="main">
    <h1>장바구니</h1>

    <!-- 장바구니 리스트 -->
    <div class="carttable_container">
        <table class="carttable"style="width:100%">
                <tr>
                    <th> </th>
                    <th>상품</th>
                    <th>가격</th> 
                    <th>수량</th>
                    <th>총가격</th>
                </tr>
                {%if cart_products %}
                    {% for cart_product in cart_products %}
                    <tr>
                        <td><input type="checkbox" name="" value=""></td>    
                        <td><img src="{{ cart_product.product.img_front.url }}" width=100px> {{ cart_product.product.name }}</td>
                        <td>{{ cart_product.product.price }}원</td> 
                        <td>{{ cart_product.order }}</td>
                        <td>{{ cart_product.total_price }}원</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>장바구니가 비었습니다.</td>
                    </tr>
                {% endif %}            
        </table>
    
        <form action="" method="">
            <button type="submit">전체선택</button>
            <button type="submit">선택삭제</button>
        </form>
    </div>
    

    <!-- 주문하기 -->
    <div class="order_container">
        <table class="total_price">
            <tbody>
                <tr><td>총 상품가격</td><td>{{ ulti_total_price }}원</td></tr>
                <tr><td>배송비</td><td>{{ shipping_charge }}원</td></tr>
                <tr><td>총 결제금액</td><td>{{ amount }}</td></tr>
            </tbody> 
        </table>
        
        <p>20,000원 이상 구매 시 무료배송 / 제주지역 추가 3,000원</p>
        <form action="" method="post">
            {% csrf_token %}
            <input type='hidden' name='post_type' value='order' />
            <button type="submit" class="">구매하기</button>
        </form>
        <a href="{% url "store_pad:pad_list" %}"><button>쇼핑계속하기</button></a>
    </div>
    
</div>

{%  endblock %}

<div id="main">
    
        <!-- Cart -->
        <div class="cart_container">
          <h2>장바구니</h2>
          <div class="list_container">
            <div class="list_head">      
              <div class="name">상품</div>
              <div class="price">가격</div>
              <div class="qty">수량</div>
              <div class="delete"></div>
              <div class="product_total">총가격</div>
            </div>
            <div id="empty_status" class="list_item" style="display: block;">
              <p style="margin: 30px auto;">장바구니가 비어있습니다.</p>
            </div>
            <form id="cart_form" action="/store/cart/" method="post">
                {% csrf_token %}
                <input type='hidden' name='post_type' value='' />
              
            </form>
          </div>
          <div id="total_checkbox" class="button_gray"><img src="/static/images/ic_success_small.png">전체선택</div>
          <div class="button_gray select_delete">선택삭제</div>
        </div>
        
        <!-- Order Submit -->
        <div class="order_summary">
          <div class="column1"></div>
          <div class="column2">
            <table>
              <tr>
                <td class="price">총 상품가격</td>
                <td class="price"><span id="total_product_price">0</span>원</td>
              </tr>
              <tr>
                <td class="shipping">배송비</td>
                <td class="shipping"><span id="shipping">0</span>원</td>
              </tr>
              <tr>
                <td class="total">총 주문금액</td>
                <td class="total"><span id="total_price">0</span>원</td>
              </tr>
            </table>
            <p class="shpping_notice">20,000원 이상 구매 시 무료배송 / 제주지역 추가 3,000원</p>
            <a id="purchase_button" class="button_submit">구매하기</a>
            <a href="/store/pad/" class="button_gotoshop">쇼핑 계속하기</a>
          </div>
        </div>
        
        
            </div>