{% extends 'base.html'%}

{% block css%}
  <link rel="stylesheet" href="/static/css/login/default.css">
  <link rel="stylesheet" href="/static/css/cart/cart_temp.css">
{% endblock%}

{% block main %}
<div id="main">
    <h1>스토어 주문내역</h1>

    <!-- 장바구니 리스트 -->
    <div class="carttable_container">
        <table class="carttable"style="width:100%">
                <tr>
                    <th> </th>
                    <th>상품</th>
                    <th>가격</th> 
                    <th>수량</th>
                    <th>총가격</th>
                </tr>
                
                {% for cart_product in cart_products %}
                <tr>
                    <td><input type="checkbox" name="" value=""></td>    
                    <td><img src="{{ cart_product.product.img_front.url }}" width=100px> {{ cart_product.product.name }}</td>
                    <td>{{ cart_product.product.price }}원</td> 
                    <td>X {{ cart_product.order }}</td>
                    <td>{{ cart_product.total_price }}원</td>
                </tr>
                {% endfor %} 

        </table>
    
        <a href="{% url "cart:cart" %}">
            <button>주문 변경</button>
        </a>
    </div>

    <!--TODO: form tag로 wrap-->
    <!-- 주문자 정보 -->
    <div class="user_info">
        <h2>주문자 정보</h2>
        <table>
            <tr>
                <td>이름</td>
                <td>
                    {{ form.buyer_name }}
                </td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>
                    {{ form.buyer_email }}
                </td>
            </tr>
            <tr>
                <td>휴대폰번호</td>
                <td>
                    {{ form.buyer_tel }}
                </td>
            </tr>
        </table>
    </div>

    <!-- 배송지 정보 -->
    <div class="address_info">
        <h2>배송지 정보</h2>
        <table>
            <tr>
                <td>이름</td>
                <td>
                    {{ form.recipient_name }}
                </td>
            </tr>
            <tr>
                <!--TODO: 휴대폰인증-->
                <td>휴대폰번호</td> 
                <td>
                    {{ form.recipient_tel }}
                </td>
            </tr>
            <tr>
                <!--TODO: 주소API-->
                <td>주소</td>
                <td>
                    {{ form.recipient_postcode }}
                </td>
                <td>
                    {{ form.recipient_add }}
                </td>
            </tr>
            <tr>
                <td>배송 메모 (선택)</td>
                <td>
                    {{ form.recipient_memo }}
                </td>
            </tr>
        </table>
            

    </div>
    
    <!-- 할인 수단 -->
    
    <!--  결제하기 -->
    <div class="pay">
        <h2>최종 결제금액</h2>
        <table class="total_price">
            <tbody>
                <tr><td>총 상품가격</td><td>{{ ulti_total_price }}원</td></tr>
                <tr><td>배송비</td><td>{{ shipping_charge }}원</td></tr>
                <tr><td>총 결제금액</td><td>{{ amount }}</td></tr>
            </tbody>             
        </table>
        <form action="" method="post">
            {% csrf_token %}
            <input type='hidden' name='post_type' value='pay' />
            <button type="submit" class="">결제하기</button>
        </form>
    </div>
</div>
{% endblock %}