{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="{% static "css/happymoon/base.css" %}">
  {% block css %}
  {% endblock %}

  <title>해피문데이</title>
</head>

<body>
  <!--navbar-->
  <header>
    <nav class="nav_desktop">
        <h1 id="logo"><img src="/static/images/logo_happymoonday_kr.png" width=140px></h1>
      <div class="menu_group">
        <a href=>회사소개</a>
        <a href=>스토어</a>
        <a href=>제품상세</a>
        <a href=>고객후기
        <a href=>공지사항


      </div>
      <a href="" style="color: #f59f00;">정기배송</a>
      <a href=>로그인</a>
      <a href=>CART</a>
    </nav>
  </header>
  
  {% block main %}
  {% endblock %}
  
</body>
</html>