/* My Infomation */
.my_info_container {
  position: relative;
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
  height: 220px;
  border-bottom: 1px solid #dee2e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.my_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.my_info .name {
  font-size: 1.5rem;
}
.my_info .email {
  font-size: 1.125rem;
}
.my_info_container .illust {
  position: absolute;
  bottom: -30px;
  right: 30px;
}
.my_info_container .illust img {
  width: 240px;
  height: 240px;
}
@media only screen and (max-width: 690px) {
  .my_info .name {
    font-size: 1.125rem;
  }
  .my_info .email {
    font-size: 0.875rem;
  }
}
/* Main coverd Navigation */
.main_wrap {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 50px 10px;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 50px;
}
.main h2 {
  margin-top: 0;
  font-size: 1.25rem;
}
.section {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ced4da;
}
.section p.strong {
  font-size: 1rem;
  line-height: 1.6;
  margin: 5px 0;
}
.section .small_text {
  margin: 7px 0;
  font-size: 0.75rem;
  color: #868e96;
}
.strong {
  font-weight: bold;
}

/* Navigation */
ul.mypage_nav {
  width: 20%;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #868e96;
  font-size: 1.125rem;
}
ul.mypage_nav li {
  padding: 8px 0;
}
ul.mypage_nav li:first-child {
  padding: 0 0 8px 0;
}
ul.mypage_nav li a {
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}

@media only screen and (max-width: 690px) {
  .main_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 10px;
  }
  ul.mypage_nav  {
    width: 100%;
    margin-bottom: 50px;
  }
  ul.mypage_nav li {
    border-bottom: 1px solid #ced4da;
    padding: 0;
    background: url('../../images/arrow_right_gray.png') no-repeat;
    background-size: 10px 20px;
    background-position: right 10px center;
  }
  ul.mypage_nav li:first-child {
    padding: 0;
  }
  ul.mypage_nav li a {
    display: block;
    padding-bottom: 0px;
    border-bottom: 0;
    padding: 15px 0;
    color: #000;
  }
  .my_info_container {
    height: 140px;
  }
  .my_info_container .illust {
    bottom: -10px;
  }
  .my_info_container .illust img {
    width: 120px;
    height: 120px;
  }
}

/* Dashboard */
ul.dashboard_container {
  border-radius: 6px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
li.dashboard_item {
  width: calc(50% - 1px);
  position: relative;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /* IE10, IE11 HACK */
  li.dashboard_item {
    height: 211px;
  }
}
li.dashboard_item a {
  padding: 20px;
  height: 170px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fdcf4e;
}
li.dashboard_item a:hover {
  color: inherit;
  background: #ffc729;
}
li.dashboard_item .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
li.dashboard_item label {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: #fff;
}
li.dashboard_item .ic_status {
  width: 30px;
  height: 30px;
  margin: 5px 10px 5px 0px;
}
li.dashboard_item:nth-child(odd) {
  border-right: 1px solid #fff;
}
li.dashboard_item:first-child, li.dashboard_item:nth-child(2) {
  border-bottom: 1px solid #fff;
}
@media only screen and (max-width: 690px) {
  li.dashboard_item {
    font-size: 1.125rem;
  }
  li.dashboard_item a {
    height: 150px;
  }
  li.dashboard_item .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  li.dashboard_item .ic_status {
    margin: 10px;
    width: 25px;
    height: 25px;
  }
}

/* button */ 
.button_gray_small {
  padding: 4px 8px;
  margin: 0 5px;
  color: #868e96;
  border: 1px solid #868e96;
  border-radius: 2px;
  font-size: 0.75rem;
  vertical-align: middle;
  cursor: pointer;
}
.button_gray_small:hover {
  color: #000;
  border-color: #000;
}
.button_gray {
  border: 1px solid #adb5bd;
  border-radius: 2px;
  color: #868E96;
  font-size: 0.813rem;
  padding: 4px 12px;
  background: #fff;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.button_gray:hover {
  border: 1px solid #000;
  color:#000;
}
.button_cancel {
  border: 1px solid #adb5bd;
  border-radius: 2px;
  color: #e83608;
  font-size: 0.813rem;
  padding: 4px 12px;
  background: #fff;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.button_cancel:hover {
  border: 1px solid #e83608;
  color:#e83608;
}
.button_change {
  float: right;
  border: 1px solid #adb5bd;
  color: #868e96;
  border-radius: 2px;
  font-size: 0.875rem;
  padding: 3.5px 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.button_change:hover {
  border: 1px solid #000;
  color: #000;
}

/* Mobile Default */
.mobile_header {
  display: none;
}
.button_back {
  display: none;
}
@media only screen and (max-width: 690px) {
  .mobile_header {
    display: block;
    background: #495057;
    padding: 10px;
    color: #fff;
    font-size: 1.125rem;
    text-align: center;
    letter-spacing: 2px;
  }
  .button_back {
    display: block;
    margin: 0 auto 50px;
    width: 100px;
    padding-right: 8px;
    color: #868e96;
    text-align: center;
    background: url('../../images/arrow_left_gray.png') no-repeat;
    background-size: 8px 16px;
    background-position: left 10px top 1px;
  }
}